/* --- pre-existing css --- */
tr:nth-child(even) {
  background-color: gray;
}
tr:nth-child(odd) {
  background-color: white;
}
 th  {
  color: white;
  background-color: black;
}
td:hover {
  background-color: yellow;
}
 td {
  text-align: right;
}
input[type="text"]:focus {
  background-color: pink;
}
body {
  background-color: blue;
}
.igottabeme {
  font-family: Arial, Helvetica, sans-serif;
}
.classy {
  margin-left: 10px;
}
div {
  margin-bottom: 50px;
}
span {
  width: 100px;
  height: 50px;
  padding: 5px 20px;
  border-style: solid; 
  border-color: blue; 
  border-width: 5px;
  background-color: yellow;
}
.a {
  display: inline;
}
.b {
  display: block;
}
.c {
  display: inline-block;
}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.dog {
  bottom: 150px;
 position: relative;
  left: 5px;
}
nav {
  position: fixed;
  top: 0;
  background-color: limegreen;
  opacity: .9;
  padding: 5px;
  font-size: 20px;
}

